html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, header, footer, aside, figure, figcaption, nav, section { 
  display:block;
}

#branding{
    width: 100%; /*横幅指定*/
    height: 220px;
    background:#ddd url(img/remiheader.png) no-repeat center 20%;
    background-size:cover;
    border: solid 2px;

    overflow: hidden; /*おまじない*/
}
#branding p{
    color: #fff; /*文字色の変更*/
    font-size: 130%; /*フォントサイズの調整*/
    letter-spacing: 10px; /*文字と文字の間隔をあける*/
    line-height: 200px; /*行間の指定（ブランディングの高さを決める）*/
    padding-left: 3%; /*文字の左側に余白をあける*/
}

nav{
    width: 100%;    /*横幅の指定*/
    border-top: 1px solid #313131;   /*上部の線の色を指定*/
    border-bottom: 1px solid #313131;    /*下部の線の色を指定*/
    margin-bottom: 5px; /**/
    overflow: hidden;   /*おまじない*/
}
nav ul{
    width: 60%; /*横幅の指定*/
    margin-left: 20%;   /*左端から20%右側に動かす*/
}
nav li{
    width: calc(25% - 2px); /*横幅の指定（線の分をマイナスする）*/
    border-left: 1px solid #313131;  /*線を描く*/
    text-align: center; /*文字を中央に*/
    float: left;    /*左から並べる*/
}
nav li:last-child{
    border-right: 1px solid #313131; /*li要素の最後の物は右側に線を描く*/
}
nav a{
    display: block; /*1つのli全体にリンクを有効にする*/
    text-decoration: none;  /*ブラウザ標準のリンク装飾をオフに*/
    color:#313131;  /*文字色の変更*/
    font-size: 110%;    /*フォントサイズの指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    font-weight: 400;   /*文字の太さを調整*/
    line-height: 45px;  /*行間の指定（ナビボタンの高さ指定）*/
}
nav a:hover{
    background-color: gray;   /*背景色の指定*/
    color: #fff;    /*文字色の変更*/
    transition: 0.5s;   /*ホバー時の動きをなめらかにする*/
}

section{
    width: 41%; /*横幅の指定*/
    padding: 2.5%;  /*余白の指定*/
    background-color: #f9f9f9;  /*背景色の指定*/
    overflow: hidden;   /*おまじない*/
    float: left;    /*フロートする*/
}
section .date{
    font-size: 60%; /*文字サイズの指定*/
    color: orange;  /*文字色の指定*/
    border: 1px solid orange;   /*線を描く*/
    padding-top:3px;    /*文字上部の余白指定*/
    padding-bottom: 3px;    /*文字下部の余白指定*/
    padding-right: 6px; /*文字右側の余白指定*/
    padding-left: 6px;  /*文字左側の余白指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    float: left;    /*フロートする*/
}
section h1{
    width: 100%;    /*横幅の指定*/
    font-size: 150%;    /*フォントサイズの指定*/
    color: #313131; /*文字色の変更*/
    letter-spacing: 3px;    /*文字と文字の間隔をあける*/
    padding-bottom:2px; /*文字下部の余白指定*/
    padding-top: 10px; /*文字上部の余白指定*/
    border-bottom: 1px solid #bababa;   /*文字の下部に線を描く*/
    margin-bottom: 15px;    /*セクションタイトルの下に余白をつくる*/
    float: left;    /*フロートする*/
}
section p{
    font-size: 100%;    /*フォントサイズの指定*/
    color: #313131; /*文字色の変更*/
    letter-spacing: 3px;    /*文字と文字の間隔をあける*/
    line-height: 200%;  /*行間をあける*/
    margin-bottom: 10px;    /*文字とボタンの間をあける*/
    float: left;    /*フロートする*/
}
section .btn{
    color: #fff;    /*文字色の変更*/
    border: 1px solid orange;   /*線を描く（ホバー時のずれを防ぐため）*/
    background-color: orange;   /*背景色の指定*/
    padding-top: 10px;  /*文字上部の余白を指定*/
    padding-bottom: 10px;   /*文字下部の余白を指定*/
    padding-right: 30px;    /*文字右側の余白を指定*/
    padding-left: 30px; /*文字左側の余白を指定*/
    border-radius: 5px; /*線の角を丸くする*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    text-decoration: none;  /*ブラウザ標準のリンク装飾をオフに*/
    overflow: hidden;   /*おまじない*/
    float: right;   /*フロートする*/
}
section .btn:hover{
    background-color: #fff; /*背景色の指定*/
    border: 1px solid orange;   /*線を描く*/
    transition: 0.5s;   /*ホバー時の変化をなめらかに*/
    color: orange;  /*文字色の指定*/
    overflow: hidden;   /*おまじない*/
}